
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerLabel">Create or edit a Customer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.customer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.customer.lastName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.customer.firstName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mail">Mail</label>
            <input type="text" class="form-control" name="mail" id="field_mail"
                    ng-model="vm.customer.mail"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                    ng-model="vm.customer.password"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_registrationDate">Registration Date</label>
                <div class="input-group">
                    <input id="field_registrationDate" type="text" class="form-control" name="registrationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.customer.registrationDate" is-open="vm.datePickerOpenStatus.registrationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('registrationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postalCode">Postal Code</label>
            <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                    ng-model="vm.customer.postalCode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.customer.city"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="vm.customer.street"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_streetNumber">Street Number</label>
            <input type="text" class="form-control" name="streetNumber" id="field_streetNumber"
                    ng-model="vm.customer.streetNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_complementStreet">Complement Street</label>
            <input type="text" class="form-control" name="complementStreet" id="field_complementStreet"
                    ng-model="vm.customer.complementStreet"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postalCodeSite">Postal Code Site</label>
            <input type="text" class="form-control" name="postalCodeSite" id="field_postalCodeSite"
                    ng-model="vm.customer.postalCodeSite"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_citySite">City Site</label>
            <input type="text" class="form-control" name="citySite" id="field_citySite"
                    ng-model="vm.customer.citySite"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_streetSite">Street Site</label>
            <input type="text" class="form-control" name="streetSite" id="field_streetSite"
                    ng-model="vm.customer.streetSite"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_streetNumberSite">Street Number Site</label>
            <input type="text" class="form-control" name="streetNumberSite" id="field_streetNumberSite"
                    ng-model="vm.customer.streetNumberSite"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_complementStreetSite">Complement Street Site</label>
            <input type="text" class="form-control" name="complementStreetSite" id="field_complementStreetSite"
                    ng-model="vm.customer.complementStreetSite"
                    />
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.customer.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
